<% if @upload.errors.any? %>
	  <div class="alert alert-danger">
	    <h3>Please correct these problems</h3>
	    <ul>
	      <% @upload.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>